<!--<div class="l-sidebar" id="nav-bar">
    <nav class="side">
        <div>
            <div class="side_list">
                <a class="side_link" routerLink="/admin/dashboard" routerLinkActive="active">
                    <i class='bi-grid-1x2-fill side_icon'></i><span class="side_name">Dashboard</span></a>

                <a class="side_link" routerLink="/userslist" routerLinkActive="active">
                    <i class='bi-people-fill side_icon'></i><span class="side_name">Usuarios</span></a>

                <a class="side_link" routerLink="/roleslist" routerLinkActive="active">
                    <i class='bi-tags-fill side_icon'></i><span class="side_name">Roles</span></a>

                <a class="side_link" routerLink="/tourslist" routerLinkActive="active">
                    <i class='bi-cursor-fill side_icon'></i><span class="side_name">Tours</span></a>

                <a class="side_link" routerLink="/attractionslist" routerLinkActive="active">
                    <i class='bi-camera-fill side_icon'></i><span class="side_name">Atracciones</span></a>

                <a class="side_link" routerLink="/locationslist" routerLinkActive="active">
                    <i class='bi-geo-alt-fill side_icon'></i><span class="side_name">Locaciones</span></a>

                <a class="side_link" routerLink="/weatherlist" routerLinkActive="active">
                    <i class='bi-cloud-fill side_icon'></i><span class="side_name">Clima</span></a>

                <a class="side_link" routerLink="/gallery" routerLinkActive="active">
                    <i class='bi-images side_icon'></i><span class="side_name">Galería</span></a>

            </div>
        </div>
    </nav>
</div>
-->
<p>

    <button class="btn btn-success" type="button-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="true" aria-controls="collapseExample">Desplegar
        Menu
    </button>
</p>
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="collapse" id="collapseExample">
        <div class="card card-body ">
            <nav class="side">
                <div>
                    <div class="side_list">


                        <a class="side_link" routerLink="/userslist" routerLinkActive="active">
                            <i class='bi-people-fill side_icon '></i><span class="side_name">Usuarios</span></a>

                        <a class="side_link" routerLink="/roleslist" routerLinkActive="active">
                            <i class='bi-tags-fill side_icon'></i><span class="side_name">Roles</span></a>

                        <a class="side_link" routerLink="/tourslist" routerLinkActive="active">
                            <i class='bi-cursor-fill side_icon'></i><span class="side_name">Tours</span></a>

                        <a class="side_link" routerLink="/attractionslist" routerLinkActive="active">
                            <i class='bi-camera-fill side_icon'></i><span class="side_name">Atracciones </span></a>

                        <a class="side_link" routerLink="/locationslist" routerLinkActive="active">
                            <i class='bi-geo-alt-fill side_icon'></i><span class="side_name">Locaciones</span></a>

                        <a class="side_link" routerLink="/weatherlist" routerLinkActive="active">
                            <i class='bi-cloud-fill side_icon'></i><span class="side_name">Clima</span></a>

                        <a class="side_link" routerLink="/gallery" routerLinkActive="active">
                            <i class='bi-images side_icon'></i><span class="side_name">Galería</span></a>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>