<!-- <div class="header_toggle"> <i class='bi bi-grip-vertical' id="header-toggle"></i> </div> -->

<div class="card-group col-sm-12 col-md-12 col-lg-12">
    <div class="card">
        <img src="assets/images/card_usuarios.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Usuarios</h5>
            <p class="card-text">Altas, bajas y modificaciones de usuarios. Ponga a un molesto del foro en pausa
                desactivandolo.</p>
            <a href="#" class="btn btn-success"><i class="bi-pencil-square"
                    style="color: white; margin-right: 8px;"></i>Editar Usuarios</a>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/card_tours.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 cclass="card-title">Tours</h5>
            <p class="card-text">Altas bajas y modificaciones de recorridos. Tu publico merece la mejor info
                actualizada.
            </p>
            <a href="#" class="btn btn-success"><i class="bi-pencil-square"
                    style="color: white; margin-right: 8px;"></i>Editar Tours</a>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/card_clima.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Clima</h5>
            <p class="card-text">Ajusta tus historicos de consultas automaticas del servicio de clima.</p>
            <a href="#" class="btn btn-success"><i class="bi-pencil-square"
                    style="color: white; margin-right: 8px;"></i>Editar Climas</a>
        </div>
</div>
</div>

