<head><LINK REL=StyleSheet HREF="style.css" TYPE="text/css"></head>

<div class="wrapper d-flex align-items-stretch ">
    <nav id="sidebar"  class="active" style=" width:200px; height:100%;">
     
        <ul class="list-unstyled components mb-5">
        <li class="active">
        <h1 style="font-size: 16px;"><B>Tablero Admin</B></h1>
        <a href="#"><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
        <a href="#"><span class="fa fa-user"></span> Usuario</a>
        </li>
        <li>
        <a href="#"><span class="fa fa-sticky-note"></span> Foro</a>
        </li>
        <li>
        <a href="#"><span class="fa fa-cogs"></span> Servicio</a>
        </li>
        <li>
     
        </ul>
     
       
    
    </nav>


</div>