<div class="p-4">
  <div class="container"
    style="background-color: rgba(255, 255, 255, 0.4); border-radius: 4px; padding: 10px 10px;box-shadow: 0 0 25px -6px rgba(0, 0, 0, 0.9);">
    <h4><i class="bi-people-fill" style="color: black; margin-right: 8px;"></i>Usuarios</h4>
    <hr>
    <!-- <a routerLink="../add" class="btn btn-sm btn-success mb-2">Agregar Usuario</a> -->
    <div style="overflow-x:auto;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 30%">Nombre y Apellido</th>
            <th style="width: 20%">Email</th>
            <th style="width: 15%">Usuario</th>
            <th style="width: 15%">Rol</th>
            <th style="width: 10%">Activo</th>
            <th style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.firstName}}, {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.role.roleName}}</td>
            <td>{{(user.active) ? 'Si' : 'No'}}</td>
            <td style="white-space: nowrap">
              <a routerLink="../edit/{{user.userId}}" class="btn btn-sm btn-primary mr-1"><i class="bi-pencil-fill"
                  style="color: white; margin-right: 8px;"></i>Editar</a>
              <button (click)="deleteUser(user.userId)" class="btn btn-sm btn-danger btn-delete-user"
                [disabled]="user.isDeleting" *ngIf="user.userId > 1">
                <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                <span *ngIf="!user.isDeleting"><i class="bi-trash-fill"
                    style="color: white; margin-right: 8px;"></i>Borrar</span>
              </button>
            </td>
          </tr>
          <tr *ngIf="!users">
            <td colspan="4" class="text-center">
              <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{ users | json }}
</div>
