<header [ngStyle]="getParallaxStyles()">
  <!-- Container -->
  <div class="container">
    <div class="header-content">
      <a href="#">
        <img src="assets/images/logo_viajar_365.svg" width="200" class="d-block mx-auto filter-logo">
      </a>
      <h1 class="text-center title-custom">Viajes 365</h1>
    </div>
  </div>
  <!-- ./End of container -->
</header>

<div class="container">
  <div class="content row">

    <!-- Left Side-->
    <div class="col-md-6 left">
      <h1 class="primary-color title-custom">Bienvenidos a Viajes 365º!</h1>
      <b>Portal de difusión turistica de Entre Ríos</b>
      <p class="text-justify">
        In venenatis elit vel dolor commodo venenatis.
        Aliquam leo velit, vehicula sed aliquam in, sollicitudin a mauris. Cras mollis, risus eu volutpat cursus,
        felis metus commodo ligula, nec lobortis velit tellus ac neque. Nulla rhoncus arcu id auctor scelerisque.
        Donec in interdum nulla. Sed commodo est dui. Praesent a turpis et lacus volutpat pharetra. Aliquam erat
        volutpat. Sed sit amet lorem semper, porttitor mauris id, tincidunt tortor. Curabitur maximus consequat
        molestie. Quisque ac ullamcorper sem. Sed luctus erat eu neque mollis, ac tempor tortor eleifend. Sed
        dapibus nisi ac diam sollicitudin facilisis. Sed fringilla tortor nec turpis volutpat, vitae volutpat tortor
        tristique.
      </p>
    </div>
    <!-- ./End of left side -->

    <!-- Right Side -->
    <div class="col-md-6 right">
      <img src="assets/images/image1.jpg" class="w-100 right">
    </div>
    <!-- ./End of right side -->

    <!-- Bottom side -->
    <div class="col-12 bottom">
      <h3>Consulte y participe en nuestro Foro</h3>
      <p class="text-justify text-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis elit vel dolor commodo venenatis.
        Aliquam leo velit, vehicula sed aliquam in, sollicitudin a mauris. Cras mollis, risus eu volutpat cursus,
        felis metus commodo ligula, nec lobortis velit tellus ac neque. Nulla rhoncus arcu id auctor scelerisque.
        Donec in interdum nulla. Sed commodo est dui. Praesent a turpis et lacus volutpat pharetra. Aliquam erat
        volutpat. Sed sit amet lorem semper, porttitor mauris id, tincidunt tortor. Curabitur maximus consequat
        molestie. Quisque ac ullamcorper sem. Sed luctus erat eu neque mollis, ac tempor tortor eleifend. Sed
        dapibus nisi ac diam sollicitudin facilisis. Sed fringilla tortor nec turpis volutpat, vitae volutpat tortor
        tristique.
      </p>
      <p class="text-justify text-light"><a routerLink="/userslist">Administrar Usuarios</a></p>
    </div>
  </div>
</div>
