<header [ngStyle]="getParallaxStyles()">
  <!-- Container -->
  <div class="container">
    <div class="header-content">
      <a href="#">
        <img src="assets/images/logo_viajes_365.svg" width="200" class="d-block mx-auto filter-logo">
      </a>
      <h1 class="text-center title-custom">Viajes 365</h1>
    </div>
  </div>
  <!-- ./End of container -->
</header>

<div class="container">
  <div class="content row">

    <!-- Left Side-->
    <div class="col-md-6 left">
      <h1 class="primary-color title-custom">Bienvenidos a Viajes 365!</h1>
      <b>Portal de difusión turistica de Entre Ríos</b>
      <p class="text-justify">
        Este sitio Web se dedica a promover el turismo en Entre Ríos.
        Nuestro principal objetivo es presentar al turista con las múltiples atracciones que ofrece nuestra hermosa
        provincia. El turismo de la Provincia de Entre Ríos se encuentra trazado por las enormes bondades de sus 
        recursos naturales y belleza natural sus ríos, playas, aguas termales y su tierra. La tranquilidad y 
        los paisajes provinciales se combinan con el cálido servicio de los entrerrianos. Capital Nacional de 
        los Circuitos Termales y emblemática en el despliegue de sus Carnavales, la provincia de Entre Ríos 
        cuenta con innumerables actividades y productos turísticos. 

        Entre Ríos es una de las Provincias que cuenta con la mayor oferta turística en materia de 
        <strong>
          fiestas populares
        </strong> 
          . En cada uno de los meses del año podrá disfrutar en distintos puntos de la
         provincia de esta experiencia.
      </p>
    </div>
    <!-- ./End of left side -->

    <!-- Right Side -->
    <div class="col-md-6 right">
      <img src="assets/images/image1.jpg" class="w-100 right">
    </div>
    <!-- ./End of right side -->

    <!-- Bottom side -->
    <div class="col-12 bottom">
      <h3>Consulte y participe en nuestro Foro</h3>
      <p class="text-justify text-light">
        El <strong>
          foro de consultas
        </strong> , es el lugar amigable donde podrá intercambiar ideas y opiniones sobre diversos temas
         de interés común, así como también plantear dudas e inquietudes relacionadas con las atracciones
         que ofrece nuestra hermosa provincia.

         Nuestro foro además presenta dos secciones muy útiles para los vacacionistas. En primer lugar la
         sección de <strong>
           Preguntas Frecuentes
         </strong>
         donde encontrará respuesta a las dudas más comunes planteadas por nuestros usuarios.

         La sección <strong>
           Tips para el viajero
         </strong>
         brinda importantes consejos para tener en cuenta en su visita a la provincia verde e información
         oficial.
      </p>
      <!-- <p class="text-justify text-light"><a routerLink="/userslist">Administrar Usuarios</a></p> -->
    </div>
  </div>
</div>