<!-- navbar anonymous -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="navbar-logo filter-logo" src="../assets/images/logo_viajar_365.svg"
        alt="logo 365" width="32" height="32" title="Logo Viajar 365">Viajes 365</a>
    <button class="custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"><i class="bi-house-fill"
              style="color: white; margin-right: 8px;"></i>Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"><i class="bi-person-plus-fill"
              style="color: white; margin-right: 8px;"></i>Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="bi-door-open-fill"
              style="color: white; margin-right: 8px;"></i>Ingresar</a>
        </li>
        <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Link
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </li>
               <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
              </li> -->
      </ul>
      <form class="d-flex">
        <input class="form-control me-2 my-1" type="search" placeholder="tu consulta aquí..." aria-label="Buscar">
        <button class="btn btn-outline-success my-1" type="submit"><span style="display:inline-flex"><i
              class="bi-search" style="color: white; margin-right: 8px;"></i>Buscar</span></button>
      </form>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="app-container"
  style="background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.8)), url(./assets/images/tile_pattern.jpg); padding-bottom: 50px">
  <!-- <alert></alert> -->
  <router-outlet></router-outlet>
</div>

<!--adminpalen-->
<app-dashboard></app-dashboard>

<!-- footer -->
<footer>
  <p>ISPC FullStack &copy; 2021</p>
</footer>

