<!-- navbar container -->
<app-navbar></app-navbar>

<!-- main app container -->
<div class="app-container"
  style="background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.8)), url(./assets/images/tile_pattern.jpg); padding-bottom: 50px">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer class="container-fluid ">

  <style>
    ul#menu li {
      display:inline;
      margin-right: 7%;
      margin-top: 30px;
    }
    </style>

  <div class="row pb-3">

    <!-- Columna 1  -->
    <div class="col-lg-4 col-sm-6 py-4 "  >
      <h4 class="text-center" >Contactanos</h4>
     
        <ul id="menu" class="py-3">      
          <li class="py-2" >
            <a href="https://www.facebook.com/TurismoEntreRios/" target="_blank" rel="noopener noreferrer">
            <img class="thumbnail" src="./assets/images/icons/iconfinder_facebook.png" alt="" width="51px">
            </a>
        </li>

          <li  >
            <a href="https://www.instagram.com/turismoer/?hl=es" 
            target="_blank" rel="noopener noreferrer">
            <img class="thumbnail" src="./assets/images/icons/iconfinder_Instagram.png" alt="" width="50px">

          </a></li>
            
        

        <li >
          <a href="https://twitter.com/entreriosturism?lang=es" target="_blank" rel="noopener noreferrer">
          <img class="thumbnail" src="./assets/images/icons/iconfinder_twitter.png" alt="" width="50px">
          </a>
        </li>
      

          <li >
            <a href="https://api.whatsapp.com/send?text=Paraná%2C%20%20lanzó%20su%20servicio%20de%20WhatsApp%20para%20información%20Turística%20https%3A%2F%2Fparanaturismo.com.ar%2Fparana-lanzo-su-servicio-de-whatsapp-para-informacion-turistica%2F" target="_blank" rel="noopener noreferrer">
            <img class="thumbnail" src="./assets/images/icons/iconfinder_whatsapp.png" alt="" width="50px">
            </a>
        </li>
      </ul>
             
          
    </div>

    <div class="col-lg-4 col-sm-6 py-4"  >
        <h4 class="mb-4">Descargate nuestra App</h4>

          <button class="btn btn-info mb-3 thumbnail"  type="submit" 
          onclick="window.open('./assets/images/viajes 365.apk')">Descargar</button>
    </div>

    <div class="col-lg-4 col-sm-6 text-start py-4 text-center" >
        <h4 class="text-center" >Teléfonos</h4>
        <ul style="list-style-type:none" class="ps-4" >
          <li><i class="fa fa-phone yell me-1"></i> <span class="me-1">Promoción y Marketing: </span> <a class="yell me-1" > <b >4348273</b> </a></li>
          <li><i class="fa fa-phone yell me-1"></i> <span class="me-1">Rel. Institucionales:</span> <a class="yell me-1" ><b>4348276</b>  </a></li>
          <li><i class="fa fa-phone yell me-1"></i> <span class="me-1">Inversiones y Servicios:</span> <a class="yell " ><b>4348275</b>  </a>
        </ul>   
    </div>

  
  </div>

  <div class="py-2 ">
    <p> <b> ISPC FullStack</b>  &copy;
    
      2021 | <a routerLink="/termsandconditions" routerLinkActive="active"> <b>Términos y Condiciones </b> </a></p>
  </div>

</footer>